body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
  background-repeat: no-repeat;
}

.float-img {
  float: right;
  width: 150px;
}

.float-text {
  margin: 30px;
  border: 1px solid #3498db;
  padding: 15px;
}

button {
  padding: 10px 20px;
  background: #3498db;
  font-family: "Times New Roman", Times, serif;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background: #217dbb;
  font-size: 20px;
  transition: 500ms;
}
